Arenas(
    [
        Arena(
            name: "Classic",
            width: 15,
            height: 13,
            tiles: [
                Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"),
                Wall("hard_block"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Wall("hard_block"),
                Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"),
                Wall("hard_block"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Wall("hard_block"),
                Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"),
                Wall("hard_block"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Wall("hard_block"),
                Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"),
                Wall("hard_block"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Wall("hard_block"),
                Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"),
                Wall("hard_block"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Wall("hard_block"),
                Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"), Ground("grass"), Wall("hard_block"),
                Wall("hard_block"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Ground("grass"), Wall("hard_block"),
                Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block"), Wall("hard_block")
            ]
        )
    ]
)