(
  texture_width: 224,
  texture_height: 128,
  sprites: [
    (//0 walk down right foot
      x: 0,
      y: 0,
      width: 32,
      height: 32,
    ),
    (//1 stand down
      x: 32,
      y: 0,
      width: 32,
      height: 32,
    ),
    (//2 walk down left foot
      x: 64,
      y: 0,
      width: 32,
      height: 32,
    ),
    (//3 walk left right foot
      x: 0,
      y: 32,
      width: 32,
      height: 32,
    ),
    (//4 stand left
      x: 32,
      y: 32,
      width: 32,
      height: 32,
    ),
    (//5 walk left left foot
      x: 64,
      y: 32,
      width: 32,
      height: 32,
    ),
    (//6 walk right right foot
      x: 0,
      y: 64,
      width: 32,
      height: 32,
    ),
    (//7 stand right
      x: 32,
      y: 64,
      width: 32,
      height: 32,
    ),
    (//8 walk right left foot
      x: 64,
      y: 64,
      width: 32,
      height: 32,
    ),
    (//9 walk up right foot
      x: 0,
      y: 96,
      width: 32,
      height: 32,
    ),
    (//10 stand up
      x: 32,
      y: 96,
      width: 32,
      height: 32,
    ),
    (//11 walk up left foot
      x: 64,
      y: 96,
      width: 32,
      height: 32,
    ),
    (//12 bomb
        x: 96,
        y: 0,
        width: 32,
        height: 32
    ),
    (//13 explosion center
        x: 96,
        y: 32,
        width: 32,
        height: 32
    ),
    (//14 explosion ray
        x: 96,
        y: 64,
        width: 32,
        height: 32
    ),
    (//15 explosion end
        x: 96,
        y: 96,
        width: 32,
        height: 32
    ),
    (//16 bomb down
        x: 128,
        y: 0,
        width: 32,
        height: 32
    ),
    (//17 bomb up
        x: 128,
        y: 32,
        width: 32,
        height: 32
    ),
    (//18 bomb kick
        x: 128,
        y: 64,
        width: 32,
        height: 32
    ),
    (//19 life up
        x: 128,
        y: 96,
        width: 32,
        height: 32
    ),
    (//20 fire down
        x: 160,
        y: 0,
        width: 32,
        height: 32
    ),
    (//21 fire up
        x: 160,
        y: 32,
        width: 32,
        height: 32
    ),
    (//22 speed down
        x: 160,
        y: 64,
        width: 32,
        height: 32
    ),
    (//23 speed up
        x: 160,
        y: 96,
        width: 32,
        height: 32
    ),
    (//24 hard block
        x: 192,
        y: 0,
        width: 32,
        height: 32
    ),
    (//25 soft block
        x: 192,
        y: 32,
        width: 32,
        height: 32
    ),
    (//26 ground
        x: 192,
        y: 64,
        width: 32,
        height: 32
    )
  ],
)