(
    tiles: [
        [Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24)],
        [Wall(24), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Wall(24)],
        [Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24)],
        [Wall(24), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Wall(24)],
        [Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24)],
        [Wall(24), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Wall(24)],
        [Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24)],
        [Wall(24), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Wall(24)],
        [Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24)],
        [Wall(24), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Wall(24)],
        [Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24), Ground(26), Wall(24)],
        [Wall(24), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Ground(26), Wall(24)],
        [Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24), Wall(24)]
    ]
)